body {
  background: #44d0e9;
  background-image: url(/imgs/SVG/texture.svg);
  background-blend-mode: lighten;
  background-size: contain;
  color: #555;
  font-family: 'Noto Sans TC',monospace, sans-serif;
  font-size: 18px;
  margin: 0; 
  overflow-x: hidden;
  position: relative;
}

/* #LoadingBar{
  width: 100%;
  height: 100vh;
  background-color: yellow;
  text-align: center;
} */

header{
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
  }

img[name="bg"]{
  position: absolute;
  top: 0;
  left: 0;
}
.frame{
  width: 90%;
  height: 90%;
  border: 10px solid wheat;
  position: absolute;
  overflow: hidden;
  left: 5%;
  top:5%;
}

.logo{
  position: absolute;
  left: 10%;
  top:13%;
  display: flex;
}

.nav{
  width: 700px;
  position: absolute;
  right: 18%;
  top:13%;
  display: flex;
  justify-content: space-evenly;
}
.nav img{
  height: 30px;
  transition: 0.3s;
  border: none;
}

.btn {
  display: inline-block;
  line-height: 35px;
  margin: 8px;
  padding: 10px 5px;
  font-size: 15px;
  position: relative;
  opacity: 0.999;
  border-radius: 3px;
  transition: 0.2s;
}

.btn-border-o:before {
  content: '';
  border-style: solid;
  position: absolute;
  z-index: 5;
  border-radius: 3px;
  box-sizing: content-box;
  transition: 0.3s;
}
.btn-border-o:before {
  width: 0;
  height: 100%;
  border-width: 0 0 3px 0;
  top: 0px;
  left: 0px;
  transition-delay: 0.05s;
}

.btn-border-o:hover:before {
  width: 100%;
}

.btn-border-o:before, .btn-border-o:after {
  border-color: #2a1e5c;
}

.logotext{
  width: 180px;
  margin-right: 20px;
}

.logotext img{
  width: 100%;
}
.logopic{
  width: 180px;
}

.logopic img{
  width: 100%;
}

.title{
  width: 35%;
  /* height: 20%; */
  position: absolute;
  left: 50%;
  top:45%;
  transform: translate(-50%,-50%);
  display: flex;
  flex-direction: column;
}

.anim-object{
  transform-style: preserve-3d;
  transform: translate3d(0,0,0);
  width: 170px;
  height: 170px;

}

.flip{
  animation: 0.6s ease-in-out 0s 1 normal both running flip-horizontal-bottom
}

.front{
  /* background: #2dccb8; */
  z-index: 20;
  margin: 0 auto;
}

.back{
  background: #53a3dc;
  z-index: 10;
  transform: rotateX(180deg);
}

.face{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: 0.2s;
}

h1{
  font-weight: bold;
  font-size: 60px;
  line-height: 1.5;
}

.arrow{
  position: absolute;
  left: 50%;
  bottom:5%;
  transform: translateX(-50%);
  font-size: 90px;
  color: black;
  opacity: 0.5;
  animation: oxxo 3s infinite;

}

@keyframes oxxo {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.2;
  }

}
.arrow:hover{
  opacity: 1;
}
.white{
  transform: scale(1.2);
  opacity: 0.3;
}
.jungle{
  width: 100%;
  height: 100%;
  position: relative;
}

.character01{
  position: absolute;
  width: 22%;
  filter: drop-shadow(10px 10px 0px white);
  left: -1% !important;
  top: 25% !important;
}
.character02{
  position: absolute;
  width: 22%;
  filter: drop-shadow(10px 10px 0px white);
  left: 20% !important;
  top: 40% !important;
}
.character03{
  position: absolute;
  width: 16%;
  transform: rotate(-0.08turn) !important;
  filter: drop-shadow(-10px -10px 0px white);
  left: 75% !important;
  top: 40% !important;
}
.character img{
  width: 100%;
}

#group1{
  width: 118%;
  position: absolute;
}

#group2{
  width: 108%;
  position: absolute;
}

#group3{
  width: 112%;
  position: absolute;
}

#group4{
  width: 112%;
  position: absolute;

}

.lyer1{
  transform: translate(-3%,-20%);
  z-index: 3;
}
.lyer2{
  transform: translate(-4%,-3%);
  z-index: 3;
}
.lyer3{
  transform: translate(-5%,-10%)rotate(0.01turn);
  z-index: 3;
}
.lyer4{
  transform: translate(-5%,-10%)rotateY(180deg);
  z-index: 3;
}
.secdeco{
  width: 100%;
  position: relative;
}
.abstract{
  width: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
}

.abstract img{
  width: 20%;
  filter: drop-shadow(4px 4px 4px rgba(23, 37, 39, 0.829));
}

.animals img{
  width: 18%;
}

.monkey{
position: fixed;
right: 0;
top: 10%;
}

.zebra{
  position: fixed;
  bottom: 0;
  right: -250px;
  /* z-index: 3; */
}
.aligator{
  position: fixed;
  bottom: 0;
  left: -250px;
  /* z-index: 3; */
}
.tag{
  margin: 0 auto;
  filter: drop-shadow(0px 5px 5px rgba(81, 122, 128, 0.829));

}
.tag2{
  width: 500px;
}

.list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px;
}

.profile{
  width: 200px;
  height: 200px;
  background-color: rgb(255, 245, 223);
  border-radius: 50%;
  border: 10px solid #4cac91;
  margin: 20px;
  transition: 0.2s;
}

.profile img{
  width: 100%;
}

.profile:hover{
  box-shadow: 0px 0px 6px 6px rgba(81, 122, 128, 0.829),  -5px -5px 0px 5px rgba(233, 225, 134, 0.541) inset;
  transform: scale(1.1);
}
.front img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  padding: 30px;
}
.teacher img{
  padding: 0;
}
.back img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flip-horizontal-bottom {
	animation: flip-horizontal-bottom 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

@keyframes flip-horizontal-bottom {
  0% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
  }
  100% {
    -webkit-transform: rotateX(-180deg);
            transform: rotateX(-180deg);
  }
}

.divider{
  margin-top: 150px;
}


.ticket{
  margin: 100px auto;
}
.ticket img{
  filter: drop-shadow(5px 5px 5px rgba(88, 88, 88, 0.822));
}

.coming-soon {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: 10%;
}

.album{
  margin-top: 250px;
}

.slider{
  position: relative;
}

.slide_viewer {
  overflow: hidden;
  position: relative;
  height: 90vh;
  width: 75%;
  border: 10px solid wheat;
  margin: 0 auto;
  background-color: white;
}

.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
  margin: 0 auto;
  background-color: white;

}

.slide {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: cover;
}

.slide:first-child {
  display: block;
}


.slide_buttons {
  left: 0;
  right: 0;
  bottom: 3%;
  position: absolute;
  text-align: center;
}

a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  transition: all 0.4s ease-in-out;
}

.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}

.previous_btn {
  position: absolute;
  left: 8%;
  top:50%;
  z-index: 2;
}

.next_btn {
  position: absolute;
  right: 8%;
  top:50%;
  z-index: 2;

}

.previous_btn, .next_btn {
  cursor: pointer;
  opacity: 0.5;
  transition: opacity 0.4s ease-in-out;
}

.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}

.album .fas{
  font-size: 60px;
}


.countName{
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
}
.countdown {
  position: absolute;
  left: 50%;
  width: 40%;
  transform: translate(-50%,-50%);
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.countdown div{
  width: 90px;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.countdown p,
.day,
.hour,
.minute,
.second {
  font-size: 2rem;
}

img {
  display: block;
  /* width: 100%;  */
}
.ticket{
  position: relative;
}
.ticket .bird{
  position: absolute;
  width: 10%;
  top:-6%;
  left: 15%;
  transform: rotateY(180deg);
  z-index: 5;
  filter: none;
}
.memory{
  position: relative;
}
#mem_pic{
  margin: 50px auto;
}
.pic_box{
  width: 200px;
  height: 200px;
  overflow: hidden;
  border: 1px solid white;
  background-color: white;
  margin: 5px;
  transition: 0.3s;
}
.pic_box:hover img{
  transform: scale(1.2);
  opacity: 1;
}
.pic_box img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s;
  opacity: 0.7;
}
.pop{
  width: 70vw;
  height: 80vh;
  border: 10px solid white;
  position: absolute;
  /* top: 50%; */
  left: 50%;
  transform: translateX(-50%);
  /* display: none; */
}
.closepop{
  right: 0;
}
.leftpop{
  left: 40%;
  bottom: 0;
}
.rightpop{
  right: 40%;
  bottom: 0;
}
.pop i{
  position: fixed;
  font-size: 50px;
  margin: 20px;
  transition: 0.1s;
  opacity: 0.7;
  color: rgb(53, 53, 53);
}
.pop i:hover{
  opacity: 1;
}
.pop img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pic_box:last-child{
  display: none;
}

footer{
  width: 100%;
  height: 70px;
  background-color: white;
  text-align: center;
  line-height: 4;
}

.box {
  margin: 0 auto;
  max-width: 600px;
  padding: 10px;
  position: relative; 
  border: 1px solid navajowhite;}

.box--offset {
  margin-left: 0; }

.scene {
  margin: 0;
  padding: 0; 
}
.scene button {
    left: 10%;
    top: 260px;
    width: 80%;
    position: absolute;
}


#board div{
  width: 60px;
  height: 60px;
  border: 3px solid wheat;
  text-align: center;
}

#board div:nth-child(odd){
	background-color:#FC3;}

  .first-face {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .second-face {
    display: flex;
    justify-content: space-between;
  }
  
  .second-face .pip:nth-of-type(2) {
    align-self: flex-end;
  }
  
  .third-face {
    display: flex;
    justify-content: space-between;
  }
    
  .third-face .pip:nth-of-type(2) {
    align-self: center;
  }
  
  .third-face .pip:nth-of-type(3) {
    align-self: flex-end;
  }
  
  .fourth-face, .sixth-face {
    display: flex;
    justify-content: space-between;
  }
  
  .fourth-face .column, .sixth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .fifth-face {
    display: flex;
    justify-content: space-between;
  }
    
  .fifth-face .column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
    
  .fifth-face .column:nth-of-type(2) {
    justify-content: center;
  }
  
  /* OTHER STYLES */
  
  * {
    box-sizing: border-box;
  }

  
  
  #dice>div {
    margin: 16px;
    padding: 10px;
    
    background-color: #e7e7e7;
    width: 104px;
    height: 104px;
    object-fit: contain;
    
    box-shadow:
      inset 0 5px white, 
      inset 0 -5px #bbb,
      inset 5px 0 #d7d7d7, 
      inset -5px 0 #d7d7d7;
    
    border-radius: 10%;
    /* border: 5px solid transparent; */
  }
  
  .pip {
    display: block;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    /* margin: 4px; */
  
    background-color: #333;
    box-shadow: inset 0 3px #111, inset 0 -3px #555;
  }
  @media only screen and (max-width: 767px) {
    .jungle, .pctop, .lastone,.zebra,.aligator,.monkey{
      display: none;
    }
    .frame{
      overflow: visible;
    }
    .mobiletop1{
      width: 70%;
      position: absolute;
      top: 0;
      right: 0;
    }
    .mobiletop2{
      width: 70%;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    .logotext{
      width: 120px;
    }
    .logopic{
      width: 120px;
    }
    .logo{
      left: 15%;
      top:20%;
    }
    .title{
      width: 70%;
      top: 43%;
    }
    .nav{
      width: 300px;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      top: 50%;
      right: 10%;
    }
    .arrow{
      font-size: 60px;
    }
    .abstract2{
      top: 300px;
      transform: rotateY(180deg);
    }
    .abstract3{
      top: 600px;
    }
    .list{
      padding: 0;
    }
    .tag{
      width: 80%;
      margin: 20px auto;
    }
    .profile{
      width: 100px;
      height: 100px;
      margin: 10px;
      border: 5px solid #4cac91;
    }

    .front img{
      padding: 10px;
    }
    .teacher img{
      padding: 0px;
    }
    .divider{
      margin: 50px auto;
    }
    .tag2{
      width: 100%;
    }
    .countName{
      position: absolute;
      top: -30%;
    }
    .album{
      margin-top: 80px;
    }
    .album .fas{
      font-size: 30px;
    }
    .slide_viewer{
      height: 25vh;
    }
    a.slide_btn {
      margin: 0;
      font-size: 20px;
    }
    .previous_btn {
      left: 5%;
    }
    .next_btn {
      right: 5%;
    }
    .coming-soon{
      bottom: -20%;
    }
    .countdown{
      width: 80%;
    }
    .countdown div{
      padding: 0;
      display: flex;
      justify-content: center;
      text-align: center;
      background-color: transparent;
    }
    .countdown p,
  .day,
  .hour,
  .minute,
  .second,h3 {
    font-size: 1rem;
    letter-spacing: 3px;
  }

  .ticket{
    margin-bottom: 50px;
  }

  #mem_pic{
    justify-content: center;
  }
  .pic_box{
    width: 150px;
    height: 150px;
  }
  .pop{
    border: 5px solid white;
    width: 90%;
    height: 30vh;
  }
  .leftpop,.rightpop,.closepop{
    font-size: 30px;
  }
  .leftpop{
    left:0
  }
  .rightpop{
    right:0
  }
  footer{
    line-height: 1.5;
  }
  
  }
